DATABASE_URL=

ALEMBIC_DATABASE_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CACHE_TYPE=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

ACCESS_KEY= 
SECRET_KEY= 
R2_ENDPOINT= 
S3_BUCKE= 

# AUTH 
SECRET_KEY_AUTH= 
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
USE_CREDENTIALS=