__pycache__/
*.pyc
venv/
.venv/

.env
.env.*
!.env.example

.pytest_cache/
.coverage

.vscode/

.git

mlruns/

weights
weights/*
!weights/.gitkeep

alembic/__pycache__/
alembic/versions/__pycache__/

app/api/auth/email-templates/build/