DATABASE_URL=
ALEMBIC_DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


CACHE_TYPE=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

ACCESS_KEY = 
SECRET_KEY = 
R2_ENDPOINT = 
S3_BUCKET= 
R2_PUBLIC_URL=

MLFLOW_TRACKING_URI=
# AUTH 
SECRET_KEY_AUTH = 
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
USE_CREDENTIALS=

# Devices
YOLO_DEVICE=
SAM_DEVICE=
LAMA_DEVICE=

# Optional
DEFAULT_DEVICE=

# DB
DB_POOL_SIZE=
DB_MAX_OVERFLOW=
DB_POOL_TIMEOUT=
DB_POOL_RECYCLE=
DB_POOL_PRE_PING=
DB_USE_NULLPOOL=

# Diffusion
DIFFUSION_INPAINT_MODEL_ID=
DIFFUSION_STEPS=
DIFFUSION_GUIDANCE_SCALE=
DIFFUSION_STRENGTH=
DIFFUSION_WORK_RESOLUTION=
DIFFUSION_CROP_PADDING_RATIO=
DIFFUSION_MIN_CROP_SIZE=
DIFFUSION_MASK_BLUR_RADIUS=
DIFFUSION_ENABLE_CPU_OFFLOAD=
DIFFUSION_NEGATIVE_PROMPT = 
DIFFUSION_PROMPT_FALLBACK=
IP_ADAPTER_REPO=
IP_ADAPTER_SUBFOLDER=
IP_ADAPTER_IMAGE_ENCODER_SUBFOLDER=
IP_ADAPTER_VARIANT=
IP_ADAPTER_SCALE=